@use "./partials/variable.scss" as *;

$fa-font-path: "./webfonts" !default;
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

//Bootstrap
@import "bootstrap/scss/bootstrap";

body {
  font-family: "Quicksand", sans-serif;
}
//GENERAL
a {
  text-decoration: none;
  color: white;
}

.pixel-text {
  font-family: "Silkscreen", cursive;
}

main {
  overflow: hidden;
}

// Custom Button
.bm-btn {
  font-family: "Silkscreen", cursive;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  width: 120px;
  height: 45px;
  // main color
  background: #c0c0c0;
  border: 0px;
  position: relative;
  transition: 0.3s;
  box-shadow:
    // up and right color shadow
    inset -2px 2px 1px 1px #cccccc,
    // bottom color shadow
    inset -2px -2px 1px 1px #757575,
    // left color shadow
    inset 2px 0px 1px 1px #8d8d8d;
}

.bm-btn:active {
  top: 2px;
}

.bm-btn:hover {
  // main color
  background: $secondary;
  box-shadow:
    // up and right color shadow
    inset -2px 2px 1px 1px #ffc301,
    // bottom color shadow
    inset -2px -2px 1px 1px #b27d01,
    // left color shadow
    inset 2px 0px 1px 1px #cc8f01;
}

.bm-btn::after {
  content: "";
  background: #000;
  position: absolute;
  left: -2%;
  top: 0;
  width: 104%;
  height: 100%;
  z-index: -1;
}

.bm-btn::before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  z-index: -2;
}

// /Custom Button

//CHARACTER START
// Character Info Page Style Config
.info {
  h1 {
    color: $secondary;
  }

  ul {
    li {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid black;

      span {
        color: $secondary;
      }
    }
  }
}

// Character List Page Style Config
.info-box {
  display: inline-block;
  background-color: $primary;
  width: 30px;
  height: 30px;
}

//CHARACTER END

//Form
.form-floating {
  > label {
    top: -8px;

    &::after {
      background-color: transparent !important;
    }
  }

  textarea {
    height: 8rem !important;
  }

  .form-control,
  .form-select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0px solid $primary;
    border-radius: 0;
    box-shadow: 0 2px 0 0 $primary;

    &:focus {
      border: 0px solid $primary;
      box-shadow: 0 0 10px 5px $primary;
      // border-bottom: 0px solid $primary;
      // box-shadow: 0 0 0.8rem 0.25rem $primary;
    }
  }
}

// HEADER
header {
  a {
    color: white;
  }
}

//MAIN
body {
  background-size: 800px 400px;
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-color: #ffffff !important;

  //to put footer to the bottom of the page
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 66px - 138px);
  }
}

//Imported CSS

.fixed-top,
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,
.sb-nav-fixed .sb-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  height: 56px;
  display: flex;
  align-items: center;
}
