@use "./partials/variable.scss" as *;

$fa-font-path: "./webfonts" !default;
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
//Bootstrap
@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Quicksand', sans-serif;
}
//GENERAL
a {
  text-decoration: none;
}

//Form
.form-floating {
  > label {
    top: -8px;

    &::after {
      background-color: transparent !important;
    }
  }

  textarea {
    height: 8rem !important;
  }

  .form-control,
  .form-select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0px solid $primary;
    border-radius: 0;
    box-shadow: 0 2px 0 0 $primary;

    &:focus {
      border: 0px solid $primary;
      box-shadow: 0 0 10px 5px $primary;
      // border-bottom: 0px solid $primary;
      // box-shadow: 0 0 0.8rem 0.25rem $primary;
    }
  }
}

//MAIN
body {

  //to put footer to the bottom of the page
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 66px - 138px);
  }
}

//Imported CSS

.fixed-top,
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,
.sb-nav-fixed .sb-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

